[rmp-finder-fedora]
name=RPM Finder Repo - Fedora
baseurl=https://fr.rpmfind.net/linux/fedora/linux/releases/39/Everything/x86_64/os/
enabled=0
gpgcheck=0
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-SIG-PaaS

[rmp-finder-centos]
name=RPM Finder Repo - CentOS
baseurl=https://fr.rpmfind.net/linux/centos-stream/9-stream/BaseOS/x86_64/os/
enabled=1
gpgcheck=0
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-SIG-PaaS

[rmp-finder-opensuse]
name=RPM Finder Repo - OpenSUSE
baseurl=https://fr.rpmfind.net/linux/opensuse/tumbleweed/repo/oss/
enabled=0
gpgcheck=0
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-SIG-PaaS
